<web-app>

	<context-param>
		<param-name>driver</param-name>
		<param-value>oracle.jdbc.driver.OracleDriver</param-value>
	</context-param>
	
	<context-param>
		<param-name>url</param-name>
		<param-value>jdbc:oracle:oci8:@localhost:1521:XE</param-value>
	</context-param>

	<context-param>
		<param-name>username</param-name>
		<param-value>hr</param-value>
	</context-param>

	<context-param>
		<param-name>password</param-name>
		<param-value>asdf</param-value>
	</context-param>

</web-app>