*{margin:0px; padding:0px; font: bold 12px Arial, sans-serif;}
body{background:#cccccc; font: bold 12px Arial, sans-serif;}
.wrapper{margin:10px auto; width:900px; height:auto; border:1px black solid; overflow:auto;background:#fff;}
.head{width:900px; height:100px;}
h1{font: bold 20px Arial, sans-serif;}
h2{font: bold 18px Arial, sans-serif;}
h3{font: bold 16px Arial, sans-serif;}
h4{font: bold 14px Arial, sans-serif;}

td{padding:3px;}
.heading{width:890px; height:40px; padding:5px;background:#2B60DE; color:#fff;}
.content{width:880px; min-height:400px; height:auto;padding:10px;}
.foot{width:900px; height:40px; text-align:center; background:#2B60DE; color:#fff; padding:20px 0;}


ul#navmenu-h { margin: 0; padding: 0; list-style: none; position: relative; } 
ul#navmenu-h ul { width: 160px; /* Sub Menu Width */ margin: 0; list-style: none; display: none; position: absolute; top: 100%; left: 0; } 
ul#navmenu-h ul ul,ul#navmenu-h ul ul ul { top: 0; left: 100%; } 
ul#navmenu-h li { float: left; display: inline; position: relative; } 
ul#navmenu-h ul li { width: 100%; display: block; } /* Root Menu */ 
ul#navmenu-h a { border-top: 1px solid #FFF; border-right: 1px solid #FFF; padding: 6px; float: left; display: block; background: #DDD; color: #666; font: bold 11px Arial, sans-serif; text-decoration: none; height: 10px; } /* Root Menu Hover Persistence */ 
ul#navmenu-h a:hover,ul#navmenu-h li:hover a,ul#navmenu-h li.iehover a { background: #BBB; color: #FFF; } /* 2nd Menu */ 
ul#navmenu-h li:hover li a,ul#navmenu-h li.iehover li a { float: none; background: #BBB; } /* 2nd Menu Hover Persistence */ 
ul#navmenu-h li:hover li a:hover,ul#navmenu-h li:hover li:hover a,ul#navmenu-h li.iehover li a:hover,ul#navmenu-h li.iehover li.iehover a { background: #999; } /* 3rd Menu */ 
ul#navmenu-h li:hover li:hover li a,ul#navmenu-h li.iehover li.iehover li a { background: #999; } /* 3rd Menu Hover Persistence */ 
ul#navmenu-h li:hover li:hover li a:hover,ul#navmenu-h li:hover li:hover li:hover a,ul#navmenu-h li.iehover li.iehover li a:hover,ul#navmenu-h li.iehover li.iehover li.iehover a { background: #666; } /* 4th Menu */ 
ul#navmenu-h li:hover li:hover li:hover li a,ul#navmenu-h li.iehover li.iehover li.iehover li a { background: #666; } /* 4th Menu Hover */ 
ul#navmenu-h li:hover li:hover li:hover li a:hover,ul#navmenu-h li.iehover li.iehover li.iehover li a:hover { background: #333; } /* Hover Function - Do Not Move */ 
ul#navmenu-h li:hover ul ul,ul#navmenu-h li:hover ul ul ul,ul#navmenu-h li.iehover ul ul,ul#navmenu-h li.iehover ul ul ul { display: none; } 
ul#navmenu-h li:hover ul,ul#navmenu-h ul li:hover ul,ul#navmenu-h ul ul li:hover ul,ul#navmenu-h li.iehover ul,ul#navmenu-h ul li.iehover ul,ul#navmenu-h ul ul li.iehover ul { display: block; }
